<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.ExampleMapper">

	<!-- 보기 삭제 -->
	<delete id = "deleteExample"
			parameterType = "int">
	
		DELETE
		FROM example
		WHERE example_no = #{exampleNo}
			
	</delete>

	<!-- 보기 수정 -->
	<update id = "updateExample"
			parameterType = "goodee.gdj58.online.vo.Example">
	
		UPDATE
			example
		SET 
			example_title = #{exampleTitle}
			, answer = #{answer}
		WHERE example_no = #{exampleNo}
			
	</update>

	<!-- 보기 한개 출력 -->
	<select id = "selectExampleOne"
			parameterType = "int"
			resultType = "goodee.gdj58.online.vo.Example">
	
		SELECT
			question_no questionNo
			, example_no exampleNo
			, example_title exampleTitle
			, answer
		FROM example
		WHERE example_no = #{exampleNo}
	
	</select>

	<!-- 보기 추가 -->
	<insert id = "insertExample"
			parameterType = "goodee.gdj58.online.vo.Example">
			
		INSERT INTO example (
			question_no
			, example_idx
			, example_title
			, answer
		) VALUES (
			#{questionNo}
			, #{exampleIdx}
			, #{exampleTitle}
			, #{answer}
		)
		
			
	</insert>


</mapper>